$primary-color: #6c63ff;
$secondary-color: #ff6584;
.course-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .provider-logo {
            height: 40px;
        }
        .course-category {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #6b63ff60 ;
            
            color: $primary-color;
            border-radius: 8px;
            padding: 4px 8px;
            font-size: 0.85rem;
            font-weight: 600;
        }
    }
    .card-body {
        .course-title-wrapper {
            display: flex; /* Alinea el título y la imagen del curso en la misma fila */
            align-items: flex-start; /* Alinea los elementos al inicio */
            .course-title {
                font-size: 1.2rem;
                font-weight: bold;
                margin-top: 0;
                margin-right: 16px; /* Espacio entre el título y la imagen del curso */
                flex: 1; /* El título ocupa el espacio restante */
                word-wrap: break-word; /* Hace que el texto haga wrap */
            }
            .course-image {
                width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
                height: auto;
                flex-shrink: 0; /* La imagen no se encogerá */
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
        }
        .course-hours, .course-slots, .course-rating {
            margin: 8px 0;
        }
        .course-tags {
            margin: 8px 0;
            .discount-tag {
                background: #ff6584;
                color: white;
                border-radius: 4px;
                padding: 2px 8px;
                margin-right: 4px;
            }
            .extra-tag {
                background: #6c63ff;
                color: white;
                border-radius: 4px;
                padding: 2px 8px;
                margin-right: 4px;
            }
        }
        p{
            color: #888;
        }
        .course-pricing {
            p{
               font-family: 'Times New Roman', Times, serif;
            }
            .original-price {
                text-decoration: line-through;
                color: #888;
            }
            .discounted-price {
                color: black;
                font-size: 1.2rem;
                font-weight: 500;
            }
            .installment-price {
                color: #444;
            }
            .installmentPrice{
                color: black;
                font-size: larger;
                font-weight: 700;
            }
        }
    }
    .card-footer {
        display: flex;
        justify-content: space-between;
        .btn {
            flex: 1;
            &:first-child {
                margin-right: 8px;
            }
        }
    }
}
